# Log Level. Can be 'FINEST', 'FINE', 'INFO', 'WARN' or 'SEVERE'
log.level = FINEST
 
comm.useRest=true
comm.useMqtt=true

# Frequency in seconds to notify the master node that we are alive.
comm.updatePeriod=30

# URL path where the node REST service is deployed. 
#rest.nodePath=/OsomcomPOCSAG-BSC/rest/pocsag/send

# MQTT configuration
mqtt.broker = broker.mqttdashboard.com
mqtt.port = 1883
mqtt.subscribingTopic = t4f.org/bsc
mqtt.postingTopic = t4f.org/msc





